@charset "utf-8";

html, body{
   height: 100%;
}
.imagem-carrossel-um {
    object-fit: cover;
    object-position: top;
    height: 750px;
}
#depoimentos {
    background-color: lightblue;
}
.imagem-carrossel-dois {
    object-fit: cover;
    height: 400px;
}
.cor-icone {
    color:white;
}